__pycache__/
*.py[cod]

.freecloud_client.json
.freecloud_state.json
.freecloud_last_config.json

android-app/.gradle/
android-app/build/
android-app/app/build/
android-app/local.properties
*.jks
*.keystore

dist/
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/freecloud/
debian/*.debhelper
debian/*.substvars
*.buildinfo
*.changes
*.deb
*.dsc
